__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
*.sqlite3
*.db
.ipynb_checkpoints/
.DS_Store
node_modules/
dist/
build/
*.log
*.csv
*.json
*.xls
*.pkl
local.settings.json

# data files, ok to commit
!DCOILBRENTEU.csv
!fx_data.csv
!cpi_11_main_groups.json
!cpi_quarterly_quarter_on_quarter.csv
!cpi_quarterly_year_on_year.csv
!features.csv