<!doctype html>
<html>
<head>
    <title>Personal Inflation Rate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2>Hey {{ name }}, Your Personal Inflation Rate for next Quarter</h2>
    {% if error_message %}
        <p style="color: red;">Error: {{ error_message }}</p>
    {% elif personal_inflation_rate is not none %}
        <table class="inflation-table">
            <!-- <tr>
                <th>Forecast</th>
                <th>Actual</th>
            </tr> -->
            <tr>
                <td>
                    <div class="inflation-result">
                        <span class="rate">{{ personal_inflation_rate | round(2) }}%</span>
                    </div>
                </td>
                <!-- <td>
                    {% if personal_inflation_actual is not none %}
                        <div class="inflation-result">
                            <span class="rate">{{ personal_inflation_actual | round(2) }}%</span>
                        </div>
                    {% else %}
                        <span class="rate">N/A</span>
                    {% endif %}
                </td> -->
            </tr>
        </table>
        {% if filled_categories %}
        <div class="filled-categories">
            <table class="categories-table">
                <tr>
                    <th>Category</th>
                    <th>Your Spending</th>
                    <th>Forecasted CPI</th>
                    <th>Future Spending</th>
                    <th>Last Quarter CPI</th>
                    <th>Last Quarter Spending</th>
                    <th>CPI Weights</th>
                </tr>
                {% for category, values in filled_categories.items() %}
                <tr>
                    <td><strong>{{ category }}</strong></td>
                    <td>{{ values.quarterly_spend }}</td>
                    <td>{{ values.forecast_cpi | round(2) }}%</td>
                    <td>{{ values.personal_inflation_forecast | round(2) }}%</td>
                    <td>{{ values.last_quarter_cpi | round(2) }}%</td>
                    <td>{{ values.personal_inflation_actual | round(2) }}%</td>
                    <td>{{ values.cpi_weights }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
    {% else %}
        <p>No result available.</p>
    {% endif %}
    <a href="{{ url_for('index') }}">Back</a>
</body>
</html>